/* Reset and base styles  */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&family=Roboto&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body {
  background-color: #FCFCFC;
  color: #333;
  font-family: "Montserrat", sans-serif;
}

a {
  color: #333;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}
a:hover {
  color: #99CB38;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  padding: 0 15px;
  max-width: 1170px;
  margin: 0 auto;
}

.none {
  display: none !important;
}

.visually-hidden {
  /* Contain text within 1px box */
  height: 1px;
  overflow: hidden;
  width: 1px;
  /* Keep the layout */
  position: absolute;
  /* Remove any visible trace (e.g. background color) */
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%); /* browsers in the future */
  /* Prevent the screen reader to skip spaces between words */
  white-space: nowrap;
}

.no-scroll {
  overflow-y: hidden;
}

.title-2 {
  font-size: 28px;
  font-weight: 900;
  line-height: 34px;
  text-transform: uppercase;
  text-align: center;
}

.regular-text {
  font-weight: 400;
}

.header {
  background-color: #FFF;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 3;
}

.header__contacts {
  padding: 17px 0;
  background: #FBD846;
}

.header__contacts-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__address {
  font-size: 14px;
}
.header__address::before {
  content: "";
  padding: 0 18px 0 0;
  background: url("./../img/icons/map.svg") left center no-repeat;
}

.header__tel {
  font-weight: 600;
}
.header__tel::before {
  content: "";
  padding: 10px 33px 10px 0;
  background: url("./../img/icons/tel.svg") left center no-repeat;
}

.header__row {
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo img {
  width: 165px;
  height: 68px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 22px;
     -moz-column-gap: 22px;
          column-gap: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  font-weight: 600;
  font-size: 14px;
}

.nav__item--accent a {
  padding: 15px 26px;
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  border: 1px solid #FBD846;
  border-radius: 30px;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  -webkit-box-shadow: 2px 2px 4px 0px rgba(255, 216, 111, 0.4);
          box-shadow: 2px 2px 4px 0px rgba(255, 216, 111, 0.4);
}
.nav__item--accent a:hover {
  background-color: #FBD846;
  color: #000;
}

.price {
  padding: 0 0 30px 0;
}

.price__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__content {
  max-width: 646px;
}

.price__title {
  font-size: 35px;
  font-weight: 900;
  line-height: 43px;
}
.price__title--accent {
  color: #FBD846;
}

.price__text {
  font-size: 18px;
  line-height: 22px;
  margin: 0 0 64px 0;
}

.price__benefits {
  display: grid;
  row-gap: 66px;
  -webkit-column-gap: 29px;
     -moz-column-gap: 29px;
          column-gap: 29px;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 0 38px 0;
}

.price__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 11px;
     -moz-column-gap: 11px;
          column-gap: 11px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.price__item-img img {
  min-width: 30px;
  min-height: 30px;
}

.price__item-text {
  font-weight: 500;
  line-height: 20px;
}

.price__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}

.price__btn {
  padding: 12px 120px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(255, 216, 111, 0.4);
          box-shadow: 10px 10px 20px 0px rgba(255, 216, 111, 0.4);
  background: linear-gradient(268.28deg, #FBD846 0.036%, #FFE888 99.944%);
}

.price__gift-img {
  text-align: center;
  margin: 0 0 16px 0;
}

.price__gift-text {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}

.price__img {
  height: 682px;
}

.price__img img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
}

.models {
  padding: 52px 0;
  background: -webkit-gradient(linear, left top, right top, from(rgb(255, 228, 114)), color-stop(100%, rgb(248, 204, 85)), to(rgb(251, 216, 70)));
  background: linear-gradient(90deg, rgb(255, 228, 114), rgb(248, 204, 85) 100%, rgb(251, 216, 70) 100%);
}

.models__title {
  margin: 0 0 56px 0;
}

.models__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 20px;
  margin: 0 0 47px 0;
}

.models__btn {
  padding: 20px 65px;
  display: block;
  margin: 0 auto;
  font-size: 20px;
  font-weight: 700;
  border-radius: 30px;
  -webkit-box-shadow: 10px 10px 20px 0px rgba(255, 216, 111, 0.4);
          box-shadow: 10px 10px 20px 0px rgba(255, 216, 111, 0.4);
  background: linear-gradient(268.28deg, rgb(153, 203, 56) 0.032%, rgb(192, 243, 91) 99.95%);
}

.card {
  display: inline-block;
  background: #FFF;
  position: relative;
  outline: 2px solid transparent;
  -webkit-transition: outline 0.2s ease-in;
  transition: outline 0.2s ease-in;
}

.card:hover {
  outline: 2px solid #99CB38;
}
.card:hover .card__btn {
  background-color: #99CB38;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#FFF)), -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#FFF)), none;
  background-image: linear-gradient(#FFF, #FFF), linear-gradient(#FFF, #FFF), none;
}
.card:hover .card__title {
  color: #99CB38;
}

.card__desc {
  padding: 25px;
}

.card__title {
  font-weight: 600;
  line-height: 20px;
  margin: 0 0 22px 0;
  color: #333;
  -webkit-transition: color 0.2s ease-in;
  transition: color 0.2s ease-in;
}

.card__old-price {
  color: #B2B2B2;
  font-weight: 600;
  margin: 0 0 6px 0;
}

.card__price {
  font-size: 25px;
  font-weight: 600;
  color: #99CB38;
}

.card__btn {
  position: absolute;
  right: 25px;
  bottom: 25px;
  width: 40px;
  height: 40px;
  background-color: #f4f4f4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#99CB38), to(#99CB38)), -webkit-gradient(linear, left top, left bottom, from(#99CB38), to(#99CB38)), none;
  background-image: linear-gradient(#99CB38, #99CB38), linear-gradient(#99CB38, #99CB38), none;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 50% 2px, 2px 50%;
  background-attachment: scroll, scroll, scroll;
  background-origin: padding-box, padding-box, padding-box;
  background-clip: border-box, border-box, border-box;
  border-radius: 50%;
  -webkit-transition: background-color 0.2s ease-in, background-image 0.2s ease-in;
  transition: background-color 0.2s ease-in, background-image 0.2s ease-in;
}