// Base
@import './base/reset';
@import './base/vars';
@import './base/mixins';
@import './base/base';

// Blocks
@import './blocks/header';
@import './blocks/nav';
@import './blocks/price';
@import './blocks/models';
@import './blocks/card';
@import './blocks/kichen-styles';
@import './blocks/tabs';
@import './blocks/benefits';
@import './blocks/materials';
@import './blocks/our-works';
@import './blocks/consultation';
@import './blocks/form';
@import './blocks/footer';