// Fonts
$font-main: 'Montserrat', sans-serif;

// Colors
$yellow-accent: #FBD846;
$yellow-muted: #FFE888;
$accent: #99CB38;
$dark: #333;
$black: #000;
$gray: #B2B2B2;
$light-gray: #F5F5F5;
$white: #FFF;
$white-muted: #FCFCFC;
$tabs-triggers-text: #8C8C8C;
$cta-text: #737373;
$cta-input: #B0B0B0;
$consultation-bg: #262626;
$footer-titles: #818181;

// Media
$big-tablet: 1170px;
$tablet: 730px;
$mobile: 576px;