// Fonts
$font-main: 'Montserrat', sans-serif;

// Colors
$yellow-accent: #FBD846;
$yellow-dark: #e6c648;
$yellow-muted: #FFE888;
$accent: #99CB38;
$green-dark: #73cb38;
$dark: #333;
$black: #000;
$gray: #B2B2B2;
$gray-dark: #e7e6e6;
$light-gray: #F5F5F5;
$white: #FFF;
$white-muted: #FCFCFC;
$tabs-triggers-text: #8C8C8C;
$cta-text: #737373;
$cta-input: #B0B0B0;
$consultation-bg: #262626;
$footer-titles: #818181;

// Media
$big-tablet: 1137px;
$tablet: 730px;
$mobile: 476px;