.benefits {
    padding: 60px 0;

    background: 
        linear-gradient(90.00deg, 
            rgb(255, 228, 114), 
            rgb(248, 204, 85) 100%, 
            $yellow-accent 100%
            );

    @include mediaTablet {
        padding: 30px 0;
    }
}

.benefits__header {
    padding: 22px 16px 26px;

    background: $white;
    margin: 0 0 42px 0;
}

.benefits__title {
    margin: 0 0 20px 0;

    @include mediaTablet {
        margin: 0 0 15px 0;
    }
}

.benefits__bonus {
    position: relative;

    font-size: 20px;
    font-weight: 300;

    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 12px;
}

.benefits__poll {
    background-color: $white;
    border-radius: 10px;
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.1);

    display: flex;

    margin: 0 0 36px 0;

    position: relative;

    img {
        height: 560px;

        object-fit: cover;
    }

    @include mediaMobile {
        flex-direction: column;

        img {
            height: 320px;
        }
    }
}

.benefits__img {
    flex: 0 0 50%;
}

.benefits__poll-wrapper {
    padding: 0 0 0 34px;

    flex: 0 0 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    max-width: 405px;

    &::before {
        content: "";

        width: 61px;
        height: 3px;

        background: $yellow-accent;
        border-radius: 10px;

        margin: 0 0 21px 0;
    }

    @include mediaBigTablet {
        padding: 0 18px;
    }

    @include mediaMobile {
        padding: 0 18px 42px;
        max-width: 100%;
    }
}

.benefits__score {
    font-size: 22px;
    font-weight: 600;

    position: absolute;
    top: 40px;
    right: 40px;

    @include mediaMobile {
        top: 20px;
        right: 20px;
    }
}

.benefits__poll-title {
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;

    margin: 0 0 28px 0;

    @include mediaTablet {
        font-size: 18px;

        margin: 0 0 20px 0;
    }
}

.benefits__poll-text {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;

    position: relative;

    margin: 0 0 44px 0;

    @include mediaTablet {
        font-size: 16px;
        margin: 0 0 30px 0;
    }
}

.benefits__poll-btn {
    padding: 20px 30px;
    display: inline-block;

    font-size: 20px;
    font-weight: 500;

    border-radius: 30px;
    box-shadow: 0px 4px 4px 0px rgba(248, 204, 85, 0.25);
    background: 
        linear-gradient(268.28deg, 
        rgb(248, 204, 85) 0.064%, 
        rgb(255, 221, 129) 99.899%
        );

    @include mediaMobile {
        width: 100%;
    }
}

.benefits__footer-title {
    padding: 24px 20px;

    font-size: 28px;
    font-weight: 900;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;

    background-color: $white;

    display: inline-block;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    margin: 0 0 36px 0;

    @include mediaTablet {
        padding: 12px 10px;
        font-size: 24px;

        margin: 0 0 20px 0;
    }
}

.benefits__row {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    
    column-gap: 30px;
    row-gap: 20px;

    @include mediaBigTablet {
        grid-template-columns: repeat(3, 1fr);
    }

    @include mediaTablet {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
    }

    @include mediaMobile {
        grid-template-columns: 1fr;
    }

}

.benefits__card {
    padding: 36px 10px 20px;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.1);
    background: $white;
}

.benefits__card-icon {
    margin: 0 0 26px 0;

    img {
        width: 86px;
        height: 86px;
    }
}

.benefits__card-title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;

    margin: 0 0 19px 0;

    @include mediaTablet {
        font-size: 18px;

        margin: 0 0 10px 0;
    }
}

.benefits__card-text {
    line-height: 17px;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}