.footer {
    padding: 23px 0;

    background-color: $dark;

    @include mediaTablet {
        padding: 50px 0;
    }
}

.footer__row {
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    row-gap: 40px;

    @include mediaTablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    @include mediaMobile {
        display: flex;
        flex-direction: column;
    }
}

.footer__main-info {
    grid-column: 1 / 3;
}

.footer__sections {
    grid-row: 2;
}

.footer__contacts {
    grid-row: 2;
}

.footer__logo {
    margin: 0 0 32px 0;
}

.footer__address {
    max-width: 242px;

    color: $white;

    line-height: 20px;

    @include mediaTablet {
        font-size: 14px;

        max-width: unset;
    }
}

.footer__title {
    color: $footer-titles;
    font-size: 20px;
    font-weight: 600;

    margin: 0 0 24px 0;

    @include mediaTablet {
        font-size: 18px;

        margin: 0 0 14px 0;
    }
}

.footer__contacts-list {
    column-count: 2;
    column-gap: 100px;

    @include mediaBigTablet {
        column-count: 1;
    }
}

.footer__list-item {
    break-inside: avoid-column;

    &:not(:last-child) {
        margin: 0 0 30px 0;

        @include mediaTablet {
            margin: 0 0 20px 0;
        }
    }

    &--email,
    &--tel,
    &--vk,
    &--ok {
        padding: 0 0 0 30px;
        position: relative;

        &::before {
            content: "";

            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;

            margin: auto;
        }
    }

    &--email::before {
        background: url('./../img/icons/email.svg') no-repeat;

        width: 22px;
        height: 16px;
    }

    &--tel {
        display: flex;
        flex-direction: column;
        row-gap: 30px;

        @include mediaTablet {
            row-gap: 20px;
        }
    }

    &--tel::before {
        background: url('./../img/icons/phone.svg') no-repeat;

        width: 25px;
        height: 25px;

        top: 0;
        transform: unset;
    }

    &--vk::before {
        background: url('./../img/icons/vk.svg') no-repeat;

        width: 21px;
        height: 12px;
    }

    &--ok::before {
        background: url('./../img/icons/ok.svg') no-repeat;

        width: 13px;
        height: 23px;
    }
}

.footer__list-item a {
    color: $white;

    &:hover {
        color: $gray;
    }

    @include mediaTablet {
        font-size: 14px;
    }
}