.header {
    background-color: $white;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 3;
}

.header__contacts {
    padding: 17px 0;
    background: $yellow-accent;
}

.header__contacts-wrapper {
    display: flex;
    justify-content: space-between;
}

.header__address {
    font-size: 14px;

    &::before {
        content: '';

        padding: 0 18px 0 0;
        background: url('./../img/icons/map.svg') left center no-repeat;
    }
}

.header__tel {
    font-weight: 600;

    &::before {
        content: '';

        padding: 10px 33px 10px 0;
        background: url('./../img/icons/tel.svg') left center no-repeat;
    }
}

.header__row {
    padding: 18px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    img {
        width: 165px;
        height: 68px;
    }
}