.header {
    background-color: $white;
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 3;
}

.header__contacts {
    padding: 17px 0;
    background: $yellow-accent;

    @include mediaTablet {
        display: none;
    }
}

.header__contacts-wrapper {
    display: flex;
    justify-content: space-between;
}

.header__address {
    font-size: 14px;
    text-align: center;

    &::before {
        content: '';

        padding: 0 18px 0 0;
        background: url('./../img/icons/map.svg') left center no-repeat;
    }

    &--mob-nav {
        display: none;
    }
}

.header__tel {
    font-weight: 600;

    &--mob-nav {
        display: none;
    }

    @include mediaMobile {
        display: none;
    }

    &::before {
        content: '';

        padding: 10px 33px 10px 0;
        background: url('./../img/icons/tel.svg') left center no-repeat;

        @include mediaTablet {
            background: url('./../img/icons/tel-mob.svg') left center no-repeat;
            padding: 0 18px 0 0;
        }
    }
}

.header__row {
    padding: 18px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.header__row--mobile {
    height: 100vh;

    align-items: flex-start;

    .header__nav {
        display: block;

        width: 100%;
    }

    .header__tel {
        display: none;

        &--mob-nav {
            display: block;

            padding: 35px 0 0 0;

            font-size: 24px;
            font-weight: 600;

            &::before {
                background: url('./../img/icons/tel-mob.svg') left center / 23px 23px no-repeat;
                padding: 0 32px 0 0;
            }
        }
    }

    .nav__list {
        flex-direction: column;

        justify-content: center;
        align-items: center;
        row-gap: 28px;

        width: 100%;
        height: 100vh;
    }

    .nav__item {
        font-size: 18px;
    }

    .header__logo, 
    .header__nav-btn {
        position: absolute;
    }

    .header__logo{
        top: 18px;
        left: 0px;
    }

    .header__nav-btn {
        top: 37px;
        right: 0px;
    }

    .header__address--mob-nav {
        display: block;

        padding: 24px 0 0 0;
        max-width: 315px;

        margin: 54px 0 0 0;

        position: relative;

        &::before {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 15px;
            height: 19px;

            background: url('./../img/icons/map-mob.svg') no-repeat;
        }
    }
}

.header__nav {
    @include mediaTablet {
        display: none;
    }
}

.header__mob {
    display: none;

    @include mediaTablet {
        display: flex;
        align-items: center;
        column-gap: 30px;
    }
}

.header__nav-btn {
    display: none;

    @include mediaTablet {
        display: block;
    }
}

.header__logo {
    img {
        width: 165px;
        height: 68px;
    }
}