.kitchen-styles {
    padding: 69px 0 94px;

    @include mediaTablet {
        padding: 40px 0;
    }
}

.kitchen-styles__title {
    margin: 0 0 26px 0;

    @include mediaTablet {
        margin: 0 0 15px 0;
    }
}

.kitchen-styles__text {
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
    text-align: center;

    margin: 0 0 58px 0;

    @include mediaTablet {
        font-size: 16px;

        margin: 0 0 20px 0;
    }
}

.kitchen-styles__gallery {
    margin: 0 0 63px 0;
}

.kitchen-styles__cta {
    padding: 38px 0 20px 26px;

    border-radius: 30px;
    background: $light-gray;

    display: flex;
    align-items: center;
    column-gap: 13px;

    position: relative;
    z-index: 1;

    @include mediaTablet {
        padding: 20px 10px;
    }
}

.kitchen-styles__cta-wrapper {
    width: 67.15%;

    @include mediaBigTablet {
        width: 100%;
    }
}

.kitchen-styles__cta-title {
    font-size: 22px;
    font-weight: 900;
    line-height: 35px;
    text-transform: uppercase;

    margin: 0 0 30px 0;

    @include mediaBigTablet {
        font-size: 20px;
        line-height: 20px;

        margin: 0 0 15px 0;

        width: 100%;
    }

    @include mediaTablet {
        text-align: center;
    }
}

.kitchen-styles__cta-text {
    line-height: 24px;
    text-transform: uppercase;

    margin: 0 0 39px 0;

    @include mediaBigTablet {
        font-size: 14px;
        line-height: 17px;
    }

    @include mediaTablet {
        text-align: center;
    }
}

.kitchen-styles__cta-img {
    @include mediaBigTablet {
        display: none;
    }

    &--mob {
        display: none;
        text-align: center;

        @include mediaTablet {
            display: block;
        }
    }

    &--form-mob {
        display: none;
        flex: 50% 0 0;

        @include mediaBigTablet {
            display: block;
        }

        @include mediaTablet {
            display: none;
        }
    }
}

.kitchen-styles__form-wrapper {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}

.kitchen-styles__form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 21px;
    row-gap: 28px;

    @include mediaBigTablet {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

.kitchen-styles__input-wrapper {
    display: flex;
    column-gap: 21px;

    margin: 0 0 28px 0;
}

.kitchen-styles__input {
    padding: 20px 15px;

    border: 1px solid $cta-input;
    border-radius: 30px;

    &::placeholder {
        color: $cta-input;
        font-size: 20px;
    }
}

.kitchen-styles__file-label {
    display: flex;
    column-gap: 22px;
    align-items: center;
}

.kitchen-styles__file {
    display: none;
}

.kitchen-styles__file-text {
    color: $cta-text;
    line-height: 22px;
    font-size: 18px;

    @include mediaBigTablet {
        font-size: 16px;
    }
}

.kitchen-styles__btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kitchen-styles__btn-container {
    position: relative;

    margin: 0 0 10px 0;

    &::after {
        content: "";

        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;

        background: linear-gradient(268.28deg, $yellow-accent 0.036%, $yellow-muted 99.944%);
        border-radius: 30px;

        box-shadow: 5px 8px 5px 0px rgba(248, 204, 85, 0.1);
    }
}

.kitchen-styles__btn {
    padding: 20px 56px;
    max-width: 360px;

    font-size: 20px;
    font-weight: 700;

    border-radius: 30px;
    box-shadow: 5px 8px 5px 0px rgba(248, 204, 85, 0.1);

    position: relative;
    z-index: 2;

    @include mediaBigTablet {
        width: 100%;
        max-width: 100%;
    }
}

.kitchen-styles__btn-text {
    font-size: 10px;
    line-height: 15px;
    text-align: center;
}