.nav__list {
    display: flex;
    column-gap: 22px;
    align-items: center;
}

.nav__item {
    font-weight: 600;
    font-size: 14px;
}

.nav__item--accent a {
    padding: 15px 26px;
    display: inline-block;

    font-weight: 700;
    font-size: 16px;

    border: 1px solid $yellow-accent;
    border-radius: 30px;

    transition: background-color 0.2s ease-in;

    box-shadow: 2px 2px 4px 0px rgba(255, 216, 111, 0.4);
    
    &:hover {
        background-color: $yellow-accent;
        color: $black;
    }
}