.tabs-triggers {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10px;
    row-gap: 10px;

    margin: 0 0 45px 0;

    @include mediaTablet {
        display: none;
    }

    &--mobile {
        display: none;
        width: 100%;
        display: flex;

        border: none;
        outline: none;
        appearance: none;
        box-shadow: none;

        border-radius: 25px;
        padding: 15px 10px;
        background-color: $yellow-accent;
        color: $dark;
        font-weight: 700;
    }
}

.select-container {
    position: relative;

    display: none;

    margin: 0 0 20px 0;

    @include mediaTablet {
        display: block;
    }
}

.select-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;

    width: 14px;
    height: 8px;
}

.tabs__select {
    &:focus {
        box-shadow: 0px 0px 0px 1px $yellow-dark;
    }
}

.tabs-triggers__item {
    padding: 15px 35px;

    font-weight: 400;
    color: $tabs-triggers-text;

    border-radius: 30px;
    background-color: $light-gray;

    &--mobile {
        font-weight: 700;
        outline: none;
        border: none;
        box-shadow: none;
    }
}

.tabs-content__item {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 30px;
}

.tabs-content__card {
    display: inline-block;
    position: relative;
}

.tabs-content__img {
    width: 100%;
    object-fit: cover;
}

.tab-content__btn {
    padding: 14.5px;

    position: absolute;
    bottom: 13px;
    right: 9px;

    background-color: rgba(251, 216, 70, 0.8);
    border-radius: 50%;
}

.tabs__item {
    display: none;
}

.tabs__item.active {
    display: grid;
}

.tabs__btn {
    transition: all 0.2s ease-in;

    &:hover {
        background-color: $gray-dark;
    }
}

.tabs__btn.active {
    background-color: $yellow-accent;

    color: $dark;
    font-weight: 600;

    &:hover {
        background-color: $yellow-dark;
    }
}